.mainpt {
     background-color: rgb(29, 12, 126);
}
.title{
     font-family: 'Combo', cursive;
}
.bottom{
     background-color: rgb(29, 12, 126);
}
.bline{
     color: black;
}
img:hover{
     transform: scale(1.1);
}

